name: Publish to Docker Hub

on:
  workflow_dispatch:
  workflow_call:

jobs:
  publish:

    runs-on: ubuntu-latest

    steps:
      - name: Check out repository
        uses: actions/checkout@v3

      - name: Set up JDK 21
        uses: actions/setup-java@v3
        with:
          distribution: temurin
          java-version: 21

      - name: Setup Gradle
        uses: gradle/gradle-build-action@v2

      - name: Build & Test
        run: ./gradlew build

      - name: Log in to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Build Docker Image
        run: ./gradlew :bpmn-to-code-web:dockerBuild

      - name: Push Docker Image
        run: ./gradlew :bpmn-to-code-web:dockerPush

      - name: Push Latest Tag
        run: docker push emaarco/bpmn-to-code-web:latest

      - name: Log out from Docker Hub
        if: always()
        run: docker logout